@{
    ViewBag.Title = "Dashboard - CRM";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<!-- Header -->
<div class="box-body px-0 content-header d-lg-flex d-sm-block align-items-center justify-content-between">
    <h1>
        Dashboard CRM
        <small>Panel de Control</small>
    </h1>
    <div class="d-flex align-items-center">
        <!-- Global Filter Readonly -->
        <div class="input-group me-3" style="width: 250px;">
            <span class="input-group-text bg-white"><i class="fa fa-filter"></i></span>
            <input type="text" class="form-control" readonly value="Filtro global activo (Todos)" title="Par&aacute;metro global aplicado a las tarjetas" style="background-color: #ededed; color: #000000; border-color: #040A2D;">
        </div>
        <ol class="breadcrumb p-0 m-0">
            <li class="breadcrumb-item"><a href="~/Dashboard"><i class="fa fa-dashboard"></i> Inicio</a></li>
            <li class="breadcrumb-item active">Dashboard</li>
        </ol>
    </div>
</div>

<!-- KPI Cards -->
<div class="row first-section">
    <div class="col-xxl-3 col-xl-6 col-12">
        <div class="box pull-up bg-primary">
            <div class="box-body">
                <div class="d-flex align-items-center justify-content-between">
                    <div class="me-15 text-center">
                        <i class="si-people si fs-40"></i>
                    </div>
                    <div class="d-flex flex-column text-end">
                        <h2 class="fs-30 mb-1 mt-0">145</h2>
                        <p class="m-0">Clientes Totales</p>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="col-xxl-3 col-xl-6 col-12">
        <div class="box pull-up bg-success">
            <div class="box-body">
                <div class="d-flex align-items-center justify-content-between">
                    <div class="me-15 text-center">
                        <i class="ti-bag fs-40"></i>
                    </div>
                    <div class="d-flex flex-column text-end">
                        <h2 class="fs-30 mb-1 mt-0">32</h2>
                        <p class="m-0">Oportunidades Activas</p>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="col-xxl-3 col-xl-6 col-12">
        <div class="box pull-up bg-warning">
            <div class="box-body">
                <div class="d-flex align-items-center justify-content-between">
                    <div class="me-15 text-center">
                        <i class="ti-check-box fs-40"></i>
                    </div>
                    <div class="d-flex flex-column text-end">
                        <h2 class="fs-30 mb-1 mt-0">18</h2>
                        <p class="m-0">Tareas Pendientes</p>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="col-xxl-3 col-xl-6 col-12">
        <div class="box pull-up bg-danger">
            <div class="box-body">
                <div class="d-flex align-items-center justify-content-between">
                    <div class="me-15 text-center">
                        <i class="ti-bar-chart fs-40"></i>
                    </div>
                    <div class="d-flex flex-column text-end">
                        <h2 class="fs-30 mb-1 mt-0">$425K</h2>
                        <p class="m-0">Ingresos Potenciales</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<!-- Charts -->
<div class="row">
    <div class="col-xxl-8 col-xl-8 col-lg-12 col-12">
        <div class="box">
            <div class="box-header with-border d-flex justify-content-between align-items-center">
                <h4 class="box-title" style="color: #040A2D;">Cantidad de Eventos</h4>
                <div class="btn-group">
                    <button type="button" class="btn btn-sm btn-outline-secondary active">D&iacute;a</button>
                    <button type="button" class="btn btn-sm btn-outline-secondary">Semana</button>
                    <button type="button" class="btn btn-sm btn-outline-secondary">Mes</button>
                </div>
            </div>
            <div class="box-body">
                <div id="eventos-line-chart" class="chart-responsive"></div>
            </div>
        </div>
    </div>

    <div class="col-xxl-4 col-xl-4 col-lg-12 col-12">
        <div class="box">
            <div class="box-header with-border d-flex justify-content-between align-items-center">
                <h4 class="box-title" style="color: #040A2D;">Estados de Eventos</h4>
                <select class="form-select form-select-sm w-auto">
                    <option value="mes">Por Mes</option>
                    <option value="dia">Por D&iacute;a</option>
                </select>
            </div>
            <div class="box-body">
                <div id="estados-donut-chart" class="chart-responsive"></div>
            </div>
        </div>
    </div>
</div>

<!-- Metrics -->
<div class="row">
    <div class="col-xxl-4 col-lg-4 col-md-6">
        <div class="card">
            <div class="card-body">
                <div class="row align-items-center">
                    <div class="col-6">
                        <h5 class="text-muted fw-normal mt-0">Tasa de Conversi&oacute;n</h5>
                        <h3 class="m-0">28%</h3>
                    </div>
                    <div class="col-6">
                        <div class="text-end">
                            <div id="conversion-chart"></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="col-xxl-4 col-lg-4 col-md-6">
        <div class="card">
            <div class="card-body">
                <div class="row align-items-center">
                    <div class="col-6">
                        <h5 class="text-muted fw-normal mt-0">Nuevos Clientes</h5>
                        <h3 class="m-0">24</h3>
                    </div>
                    <div class="col-6">
                        <div class="text-end">
                            <div id="new-clients-chart"></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="col-xxl-4 col-lg-4 col-md-12">
        <div class="card">
            <div class="card-body">
                <div class="row align-items-center">
                    <div class="col-6">
                        <h5 class="text-muted fw-normal mt-0">Valor Promedio</h5>
                        <h3 class="m-0">$13.3K</h3>
                    </div>
                    <div class="col-6">
                        <div class="text-end">
                            <div id="avg-value-chart"></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<!-- Lists -->
<div class="row">
    <div class="col-xxl-6 col-xl-6 col-lg-12">
        <div class="box">
            <div class="box-header with-border">
                <h4 class="box-title">&Uacute;ltimas Actividades</h4>
            </div>
            <div class="box-body p-0">
                <div class="media-list media-list-hover media-list-divided">
                    <a class="media media-single" href="~/Clientes/Detalle/1">
                        <div class="me-15">
                            <img class="avatar avatar-md img-fluid" src="~/Content/images/avatar/avatar-1.png" alt="Cliente">
                        </div>
                        <div class="flex-grow-1">
                            <h6 class="mb-0">Acme Corporation</h6>
                            <p class="text-muted fs-12 mb-0">Contacto realizado</p>
                        </div>
                        <span class="badge badge-primary-light">Hace 2h</span>
                    </a>

                    <a class="media media-single" href="~/Clientes/Detalle/2">
                        <div class="me-15">
                            <img class="avatar avatar-md img-fluid" src="~/Content/images/avatar/avatar-2.png" alt="Cliente">
                        </div>
                        <div class="flex-grow-1">
                            <h6 class="mb-0">Tech Solutions Inc</h6>
                            <p class="text-muted fs-12 mb-0">Propuesta enviada</p>
                        </div>
                        <span class="badge badge-success-light">Hace 4h</span>
                    </a>

                    <a class="media media-single" href="~/Clientes/Detalle/3">
                        <div class="me-15">
                            <img class="avatar avatar-md img-fluid" src="~/Content/images/avatar/avatar-3.png" alt="Cliente">
                        </div>
                        <div class="flex-grow-1">
                            <h6 class="mb-0">Global Enterprises</h6>
                            <p class="text-muted fs-12 mb-0">Reuni&oacute;n agendada</p>
                        </div>
                        <span class="badge badge-info-light">Hace 1 d&iacute;a</span>
                    </a>
                </div>
            </div>
        </div>
    </div>

    <div class="col-xxl-6 col-xl-6 col-lg-12">
        <div class="box">
            <div class="box-header with-border">
                <h4 class="box-title">Tareas Pr&oacute;ximas</h4>
            </div>
            <div class="box-body p-0">
                <div class="media-list media-list-hover media-list-divided">
                    <a class="media media-single" href="~/Tareas/Editar/1">
                        <div class="me-10">
                            <input type="checkbox" class="filled-in">
                        </div>
                        <div class="flex-grow-1">
                            <h6 class="mb-0">Llamar a cliente de Acme Corp</h6>
                            <p class="text-muted fs-12 mb-0">Hoy - 14:00</p>
                        </div>
                        <span class="badge badge-danger-light">Urgente</span>
                    </a>

                    <a class="media media-single" href="~/Tareas/Editar/2">
                        <div class="me-10">
                            <input type="checkbox" class="filled-in">
                        </div>
                        <div class="flex-grow-1">
                            <h6 class="mb-0">Enviar propuesta a Tech Solutions</h6>
                            <p class="text-muted fs-12 mb-0">Ma&ntilde;ana - 10:00</p>
                        </div>
                        <span class="badge badge-warning-light">Normal</span>
                    </a>

                    <a class="media media-single" href="~/Tareas/Editar/3">
                        <div class="me-10">
                            <input type="checkbox" class="filled-in">
                        </div>
                        <div class="flex-grow-1">
                            <h6 class="mb-0">Seguimiento de Global Enterprises</h6>
                            <p class="text-muted fs-12 mb-0">24 Mar 2024</p>
                        </div>
                        <span class="badge badge-info-light">Baja</span>
                    </a>
                </div>
            </div>
        </div>
    </div>
</div>

@section scripts {
    <script src="~/Content/assets/vendor_components/c3/d3.min.js"></script>
    <script src="~/Content/assets/vendor_components/c3/c3.min.js"></script>
    <script src="~/Content/assets/vendor_components/echarts/dist/echarts-en.min.js"></script>
    <script src="~/Content/assets/vendor_components/apexcharts-bundle/dist/apexcharts.js"></script>
    <script>
        $(document).ready(function() {
            // Area Chart: Cantidad de Eventos (Smooth Gradient)
            if($('#eventos-line-chart').length > 0) {
                var options1 = {
                    series: [{ name: 'Eventos', data: [31, 42, 40, 61, 52, 74, 61] }],
                    chart: { type: 'area', height: 350, toolbar: { show: false } },
                    stroke: { curve: 'smooth', width: 2 },
                    fill: { type: 'gradient', gradient: { shadeIntensity: 1, opacityFrom: 0.4, opacityTo: 0.1, stops: [0, 90, 100] } },
                    xaxis: { categories: ['Lun', 'Mar', 'Mi&eacute;', 'Jue', 'Vie', 'S&aacute;b', 'Dom'] },
                    colors: ['#040A2D'], // Azul CRM
                    dataLabels: { enabled: false },
                    markers: { size: 4, colors: ['#FFFFFF'], strokeColors: '#040A2D', strokeWidth: 2 }
                };
                new ApexCharts(document.querySelector("#eventos-line-chart"), options1).render();
            }

            // Donut Chart: Estados de Eventos
            if($('#estados-donut-chart').length > 0) {
                var options2 = {
                    series: [45, 25, 30],
                    chart: { type: 'donut', height: 350 },
                    labels: ['Completados', 'Pendientes', 'Cancelados'],
                    colors: ['#040A2D', '#ededed', '#970000'], // Azul, Gris, Rojo CRM
                    legend: { position: 'bottom' },
                    stroke: { colors: ['#000000'], width: 1 } // Negro CRM
                };
                new ApexCharts(document.querySelector("#estados-donut-chart"), options2).render();
            }

            // Small Metrics Charts - C3
            if($('#conversion-chart').length > 0) {
                c3.generate({
                    bindto: '#conversion-chart',
                    data: { columns: [['data', 28, 35, 30, 45, 55, 38]], type: 'line' },
                    axis: { x: {show: false}, y: {show: false} },
                    size: { height: null, width: null },
                    legend: { show: false },
                    color: { pattern: ['#10c469'] }
                });
            }
            if($('#new-clients-chart').length > 0) {
                c3.generate({
                    bindto: '#new-clients-chart',
                    data: { columns: [['data', 12, 14, 18, 22, 19, 24]], type: 'bar' },
                    axis: { x: {show: false}, y: {show: false} },
                    size: { height: null, width: null },
                    legend: { show: false },
                    color: { pattern: ['#040A2D'] }
                });
            }
            if($('#avg-value-chart').length > 0) {
                c3.generate({
                    bindto: '#avg-value-chart',
                    data: { columns: [['data', 10, 11, 10.5, 12, 13.3]], type: 'area-spline' },
                    axis: { x: {show: false}, y: {show: false} },
                    size: { height: null, width: null },
                    legend: { show: false },
                    color: { pattern: ['#970000'] }
                });
            }
        });
    </script>
}




