@{
    Layout = null;
}

<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Alfa Admin - Iniciar Sesión</title>
  
    <!-- Vendors Style-->
    <link rel="stylesheet" href="~/Content/css/vendors_css.css">
      
    <!-- Style-->  
    <link rel="stylesheet" href="~/Content/css/style.css">
    <link rel="stylesheet" href="~/Content/css/skin_color.css">	

</head>
    
<body class="hold-transition theme-primary bg-img" style="background-image: url(@Url.Content("~/Content/images/auth-bg/bg-16.jpg"))">
    
    <div class="container h-p100">
        <div class="row align-items-center justify-content-md-center h-p100">	
            
            <div class="col-12">
                <div class="row justify-content-center g-0">
                    <div class="col-lg-5 col-md-5 col-12">
                        <div class="bg-white rounded10 shadow-lg">
                            <div class="content-top-agile p-20 pb-0">
                                <h2 class="text-primary fw-600">Bienvenido a CRM</h2>
                                <p class="mb-0 text-fade">Inicie sesión para continuar.</p>							
                            </div>
                            <div class="p-40">
                                <form action="~/Dashboard/Index" method="post">
                                    <div class="form-group">
                                        <div class="input-group mb-3">
                                            <span class="input-group-text bg-transparent"><i class="text-fade ti-user"></i></span>
                                            <input type="text" class="form-control ps-15 bg-transparent" placeholder="Usuario">
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <div class="input-group mb-3">
                                            <span class="input-group-text  bg-transparent"><i class="text-fade ti-lock"></i></span>
                                            <input type="password" class="form-control ps-15 bg-transparent" placeholder="Contraseña">
                                        </div>
                                    </div>
                                      <div class="row">
                                        <div class="col-6">
                                          <div class="checkbox">
                                            <input type="checkbox" id="basic_checkbox_1" >
                                            <label for="basic_checkbox_1">Recordarme</label>
                                          </div>
                                        </div>
                                        <div class="col-6">
                                         <div class="fog-pwd text-end">
                                            <a href="~/Home/RecoverPassword" class="text-primary fw-500 hover-primary"><i class="ion ion-locked"></i> ¿Olvidó su contraseña?</a><br>
                                          </div>
                                        </div>
                                        <div class="col-12 text-center">
                                          <button type="submit" class="btn btn-primary w-p100 mt-10">INGRESAR</button>
                                        </div>
                                      </div>
                                </form>	
                                <div class="text-center">
                                    <p class="mt-15 mb-0 text-fade">¿No tiene cuenta? <a href="~/Home/Register" class="text-primary ms-5">Registrarse</a></p>
                                </div>
                            </div>						
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!-- Vendor JS -->
    <script src="~/Content/js/vendors.min.js"></script>
    <script src="~/Content/assets/icons/feather-icons/feather.min.js"></script>	

</body>
</html>
